@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
}

/* Шрифты */

@font-face {
    font-family: 'Winter Insight';
    src: url(fonts/Winter\Insight.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url(fonts/Segoe\UI.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url(fonts/Segoe\UI\Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Italic';
    src: url(fonts/Segoe\UI\Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI Italic Bold';
    src: url(fonts/Segoe\UI\Bold\Italic.ttf) format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* База */

html {
    scroll-behavior: smooth;
}

body {
    transform-origin: top left ;
    height: 90.8%;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

/* НАВИГАЦИИ */

@media (max-width: 1024px) {
  .nav__link {
    font-size: 14px; 
  }
  .header__container {
    flex-direction: column; 
  }
}

.header {
    display: flex;
    justify-content: space-between;
    height: 830px;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.LOGO {
    justify-content: center;
    align-items: center;
    width: 354px;
    height: 112px;
    margin: 10px 120px;
    margin-right: 310px;
}

.LOGO a img {
    width: 350px;
    height: auto;
}

.burger__menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 112px;
    margin-top: 10px;
    width: 70%;
}

.nav__list {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    height: auto;
    flex-wrap: wrap;
}

.header__action { 
    display: flex;
    gap: 82px;
}

.nav__item {
    position: relative;
    line-height: 23px;
    font-size: 18px;
}

.nav_home {
    font-family: 'Roboto';
    font-weight: 500;
    color: #FF9F00;
}

.nav_home::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;    
  width: 100%;      
  height: 2px;      
  background-color: #ff9900;
  border-radius: 2px;
    
}

.nav__link {
    font-family: 'Roboto';
    font-weight: 400;
    color: #09B3B0;
    white-space: nowrap;
}

.header__action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    flex-wrap: wrap;
}

.search__btn {
    background-color: #09B3B0;
    border: none;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.login__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    background-color: #09B3B0;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #FFFFFF;
}

.hero__info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;
    margin-top: 140px;
}

.container__info {
    display: block;
    position: absolute;
    margin-bottom: 67px;
}

.container__span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 248px;
    margin: 248px 74px;
}

.container__span span {
    text-align: center;
    color: #FF9F00;
    font-size: 135px;
    font-family: 'Winter Insight';
    font-weight: 400;
    line-height: 96%;
}

.info {
    display: block;
    position: absolute;
    top: 75%;
    left: 107px;
    width: 428px;
    height: 39px;
}

.info span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Winter Insight';
    color:#000000;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 38px;
}

.info__price {
    display: block;
    position: absolute;
    top: 83%;
    left: 185px;
    width: 272px;
    height: 39px;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dollar {
    font-family: 'Yrsa';
    font-weight: 400;
    font-size: 64px;
    line-height: 38px;
    letter-spacing: 5px;
    color: #FF9F00;
}

.time {
    font-family: 'Yrsa';
    font-weight: 400;
    font-size: 64px;
    line-height: 38px;
    letter-spacing: 5px;
    color: #FF9F00;
}

.price__point {
    font-family: 'Yrsa';
    font-weight: 400;
    font-size: 36px;
    color: #FF9F00;
    height: 27px;
}

.container__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
    height: 147px;
    background-color: #09B3B0;
}

.wrapper {
    font-family: 'Yrsa';
    font-weight: 400;
    font-size: 72px;
    line-height: 40%;
    color: #FFFFFF;
}